---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

import { siteConfig } from '../../config/site';
import { content } from '../../config/content';
import Logo from '../../assets/images/logo02.svg';

const { logo } = content.header;
---
<footer class="footer">
  <div class="inner footer-inner">
    <a class="logo-link" href={logo.href}>
      <Image class="logo-img" src={Logo} alt={logo.alt} />
    </a>
  </div>
  <small class="copyright">
    &copy; 2026 {siteConfig.name} 
  </small>
</footer>

<style lang="scss">
  @use "../../styles/variables" as *;
  @use "../../styles/mixins" as *;

  // ―――――――――――――――――――――――――――――――――――
  .footer {
    width: 100%;
  }

  .footer-inner {
    display: flex;
    justify-content: center;
    width: 90%;
  }

  .logo-link {
    max-width: 100px;
  }

  .copyright {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  //―――――――――――――――――――――――――――――――――――――― タブレット
  @include tb {

  }

  //―――――――――――――――――――――――――――――――――――――― スマホ
  @include sp {

  }
</style>